
#Header{
    background-color: #fff;
}
.part_1{
    background-color: #f0f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;

}
.part_1_background{
    background: url('/assets/img/text_backgrond.png') no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #f0f7f7;
    width: 600px;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.part_1_background .h1_text{
    width: 100%;
    text-align: center;
}
.part2_3{
    /* position: fixed; */
    width: 100%;
    height: 100%;
    margin-bottom: 1500px;
    background: url('/assets/img/slider_picture.png') no-repeat;
    filter: brightness(50%);
    background-size: cover;
    background-attachment: scroll, fixed;
    opacity: 1;
    position: fixed;
    z-index: -1;
}

.part_2{
    display: flex;
    background: #fff;
    height: 910px;
    align-items: center;
    justify-content: center;
}

.content{
    width: 50%;
}


.Picture{
    position: relative;
    width: 50%;
    height: 100%;
}

.picture1{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 0;
    top: 50%;
    border-radius: 7%;
}

.picture2{
    position: absolute;
    width: 325px;
    height: 394px;
    bottom: 6%;
    right: 3%;
    border-radius: 7%;
}


.picture3{
    position: absolute;
    width: 257px;
    height: 257px;
    top: 20%;
    right: 40%;
    border-radius: 7%;

}

.part_3{
    height: 500px;
    /* background: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.list_item{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
}
.item li{
    list-style-type: none;
    margin-left: 50px;
    text-align: center;
}
.number{
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.text{
    margin-top: 10px;
    color: #fff;
}
