#Footer{
    display: block;
    width: 100%;
    padding-top: 50px;
    background-color:  #f0f7f7;;
}
.wrapper_footer{
    width: 100%;
    max-width: 1400px;
    padding: 0 2%;
    margin: auto;
}
#Footer .Footer_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
    border-bottom: 0.1px #eae3e3 solid;
    gap: 2rem;
}
#Footer .Footer_1{
    width: 30%;
    
}
#Footer .Footer_text{
    font-size: 16px;
    margin: 10px;
    width: 230px;
}
#Footer .Footer_2{
    width: 50%;
    margin: 30px 20px;
    display: flex;
}
#Footer .Footer_2_1{
    justify-content: space-between;
    display: flex;
    gap: 10rem;
}
#Footer .Menu{
    
}
#Footer .menu_title{
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
#Footer .item-Menu{
    padding-top: 30px;
}

#Footer .Footer_2_1 a{
    text-decoration: none;
    padding-top: 30px;
    letter-spacing: 1.2px;
    color: var(--sub-color_1);
}
#Footer .Footer_bottom{
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 100px 20px;
}

#Footer .icon{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
#Footer .right_Footer{
    display: flex;
    justify-content: right;
}
.left_Footer{
    display: flex;
    justify-content: left;
}
#Footer .right_Footer a{
    padding: 10px;
}

@media (max-width: 992px){
    #Footer{
        display: block;
    }
    .Footer_1{
        display: block;
    }
    #Footer .Footer_top, #Footer .Footer_2_1 {
        display: block;
    }
    #Footer .menu_title{
        text-align: left;
    }
    #Footer .Menu, #Footer .Footer_1{
        margin-top: 30px;
        text-align: left;
    }
    #Footer .Menu{
        margin-top: 100px;
    }
    #Footer .Footer_text{
        margin-left: 20px;
    }
   
}
@media (max-width: 576px)
{
    #Footer .left_Footer, #Footer .right_Footer{
        display: flex;
        justify-content: center;
    }
}