#Logo{
    width: 40px;
    padding: 2px 0 0 2px;
    margin: 10px;
}
#Header > #Menu-header{
    margin: auto;
    width: 1400px;
}
#Slogan-header{
    display: block;
    display: flex;
    min-height: 48px;
    padding: 5px 3%;
    justify-content: center; 
    align-items: center;
    background-color: #35b8be;
    color: #f8eded;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#Slogan-header p a{
    text-decoration: none;
    color: #fff;
}

#Menu-header{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    line-height: 20px;
    font-size: 15px;
    width: 1200px;
    height: 100px;
    align-items: center;
    position: relative;

}
#Menu-header .Menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    right: 100px;
    width: 400px;
    
}
#Menu-header .Menu :hover{
    color: #35b8be;
}
#Menu-header .Menu a{
    text-decoration: none;
    color: #6c6f70;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}

#Menu-header .Cart-btn{
    background-color: #35b8be;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 4px;
    text-decoration: none;
}
#Menu-header .Cart-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    margin: auto;
}