#Logo{
    width: 40px;
    padding: 2px 0 0 2px;
    margin: 10px;
}
#Header{
    margin: auto;
    width: 100%;
}
#Slogan-header{
    display: block;
    display: flex;
    min-height: 48px;
    padding: 5px 3%;
    justify-content: center; 
    align-items: center;
    background-color: #35b8be;
    color: #f8eded;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#Slogan-header p a{
    text-decoration: none;
    color: #fff;
}

#Menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    width: 100%;
    height: 100px;

}
#Menu-header .Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Menu :hover{
    color: #35b8be;
}
.Menu a{
    text-decoration: none;
    color: #6c6f70;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 20px;
    margin-left: 12px;
}

#Menu-header .Cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35b8be;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
.login{
    border: #35b8be solid 1px;
    border-radius: 15px;

}
.button{
    width: 80px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login:hover{
    background: #35b8be;
    color: #fff;
    transition: .5s;
}

