*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #546285;;
    font-size: 16px;
}
a:hover{
    color: #35B8BE;
}

#Logo{
    width: 40px;
    padding: 2px 0 0 2px;
    margin: 10px;
}
#Slogan-header{
    display: block;
    display: flex;
    min-height: 48px;
    padding: 5px 3%;
    justify-content: center; 
    align-items: center;
    background-color: #35b8be;
    color: #f8eded;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#Slogan-header p a{
    text-decoration: none;
    color: #fff;
}

#Menu-header{
    position: relative;
    padding: 0 2rem;
}
/* Header */


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.navbar .toggle_btn:hover{
    background: #35b8be;
    color: #fff;
    transition: .5s;
}
/*Dropdown menu*/
.dropdown_menu{
    display: none;
    /* position: absolute; */
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: none;

}
.dropdown_menu{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Responsive design*/
@media (max-width: 992px){
    .navbar .links{
        display: none;
    }

    .dropdown_menu{
        display: block;
    }
    .dropdown_menu li{
        display: block;
    }
    .navbar .toggle_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #546285;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}



#Menu-header .Cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35b8be;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
.login{
    border: #35b8be solid 1px;
    border-radius: 15px;

}
.button{
    width: 80px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login:hover{
    background: #35b8be;
    color: #fff;
    transition: .5s;
}

