
#Content{
    background-image: url(/assets/img/Wrapper_Background.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 1000px;
}
#Content_1, #Content_2, #Content_3, #Content_4, #Content_5, #Content_6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 120px 3%;
}

#Content_1{
    /* background-color: antiquewhite; */
    padding-top: 100px;
}

.Picture1_1 > img{
    margin: auto;
    width: 120%;
    min-width: 200px;
    border-radius: 100px 10px 10px 10px;
}
.Picture1_1{
    position: relative;
}
.Picture1_2 {
    position: absolute;
    text-align: center;
    width: 80%;
    right: -180px;
    bottom: -50px;
}
.Picture1_2_1{
    border-radius: 100px;
    width: 60%;
    min-width: 100px;
}
.Picture1_2_2{
    position: absolute;
    width: 20%;
    left: 50px;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #fff;
    padding: 5%;
    margin-top: 40px;
    /* padding: 20px; */
}
.Picture1_2_3{
    position: absolute;
    width: 20%;
    border-radius: 17px;
    right: 50px;
}
.Picture1_3{
    position: absolute;
    bottom: 10px;
    left: 20px;
    transform: scaleX(-1);
    width: 20%;
    min-width: 100px;
    /* margin-right: 100px; */
}
.Picture2_1{
    width: 60%;
    border-radius: 20px;
    right: 50%;
}
.Picture2_2
{
    position: absolute;
    width: 25%;
    border-radius: 25px;
    right: 10%;
    top: 50%;
    transform: translateY(-25%);
}
.Picture2_3
{
    width: 15%;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 20%;
    /* transform: translateY(-75%); */
}
#Content_1 .h1_text{
    font-size: 60px;
}
#Content_1 .Picture1, #Content_2 .Picture2{
    max-width: 100%
}

#Content_1 .Evaluate{
    display: block;
    margin-top: 40px;
    width: 100%;
}
#Content_1 .Trustpilot{
    margin: 10px 0 10px 0;
}
#Content_1 .rating_statistics
{
    /* margin-top: 50px; */
    font-size: 16px;
    color: var(--sub-color_2);
}
#Content_2, #Content_6, #Content_4{
    background-color: transparent;
    background: url(/assets/img/background.svg) no-repeat;
    background-size: 1500px;
    background-position: center;
    position: relative;
    /* background-image: url(/assets/img/background.svg); */
    /* background-size: contain; */
}
#Content_2 .Picture{
    min-width: 400px;
}
#Content_4 .header{
    text-align: center;
    margin: auto;
}
#Content_4{
    background: url(/assets/img/background.svg) no-repeat;
    background-size: 2200px;
    background-position: center;
    position: relative;
}
#Content_3 .h1_text{
    text-align: center;
}
#Content_2 .content, #Content_6 .content{
    background: url('/assets/img/text_backgrond.png') no-repeat;
    background-size: contain;
}

#Content_3 .Content_section{
    display: block;
    /* background-color: coral; */
    margin-top: 100px;
}
#Content_3 .heading-content{
   text-align: center;
   
   /* transform: translateX(-50%); */
}
#Content_3 .member-list{
    margin-top: 48px;
    /* margin-left: 80px; */
    /* overflow: hidden; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
#Content_3 .member-item{
    width: 30%;
    /* width: calc(100% / 3); */
    
}

#Content_3 .member-name{
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
#Content_3 .text_content{
    width: 300px;
    text-align: center;
    margin: auto;
    font-size: var(--text_1_font);
    color: var(--sub-color_1);
    line-height: 1.5;
}
#Content_3 .member-img{
    width: 330px;
    margin-top: 15px;
}
#Content_3 .line_colum{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    font-weight: 300;
    color: var(--sub-color_1);
    letter-spacing: 5px;
}
#Content_5{

}
#Content_5 .Picture5_1{
    width: 100%;
    min-width: 400px;
    margin: auto;
}
#Content_5 .Picture5_2{
    position: absolute;
    width: 40%;
    top: 0px;
    left: 0px;
}
#Content_6 .Button{
    min-width: 240px;
}
#Content_6 .Picture6_1{
    width: 80%;
    border-radius: 40px;
    margin: auto;
}
#Content_6 .Picture6_2{
    position: absolute;
    right: -40px;
    bottom: 60%;
    border-radius: 30px;
    width: 30%;
}
#Content .Picture6_3{
    position: absolute;
    width: 20%;
    background-color: var(--primary-color);
    border-radius: 20px;
    left: -20px;
    bottom: 120px;
}
#Slider{
    display: flex;
    width: 90%;
    /* margin: 100px; */
    margin: auto;
    margin-bottom: 150px;
    
}
#Slider .Slider_1{
    width: 50%;
    max-height: 650px;
    margin: 10px;
    

}
#Slider .Slider_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#Slider .Slider_2{
    width: 50%;
    height: 650px;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    margin: 10px;
}

#Slider .Slider_2_1{
    margin-left: 50px;
    width: 500px;
    min-width: 50px;
}
#Slider .h1_text{
    color: #08878e;
    align-items: center;
    margin-bottom: 100px;
}
#Slider .text_color{
    color: #fff;
}
#Slider .Button{
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px; 
}
