
#Content{
    background-image: url(/assets/img/Wrapper_Background.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 1000px;
}
#Content_1, #Content_2, #Content_3, #Content_4, #Content_5, #Content_6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 140px 3%;
}
.Content_section{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
}
#Content_1{
    /* background-color: antiquewhite; */
    padding-top: 100px;
}

.Picture1_1{
    margin: auto;
    width: 416px;
    height: 535px;
    border-radius: 100px 10px 10px 10px;
}
.Picture1_2{
    position: absolute;
    width: 210px;
    height: 210px;
    right: 40px;
    bottom: 0px;
}
.Picture1_2_1{
    border-radius: 100px;
}
.Picture1_2_2{
    position: absolute;
    width: 70px;
    height: 70px;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #fff;
    padding: 17px;
    margin-right: 30px;
    margin-top: 30px;
    /* padding: 20px; */
}
.Picture1_2_3{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 17px;
    margin-top: 20px;
    right: 2px;
}
.Picture1_3{
    position: absolute;
    left: 50px;
    bottom: 0px;
    transform: scaleX(-1);
    width: 130px;
    /* margin-right: 100px; */
}
.Picture2_1{
    margin-left: 100px;
    width: 360px;
    height: 610px;
    border-radius: 40px;
    right: 50%;
}
.Picture2_2
{
    position: absolute;
    width: 150px;
    height: 160px;
    border-radius: 25px;
    right: 120px;
    top: 50%;
    transform: translateY(-25%);
}
.Picture2_3
{
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 20%;
    /* transform: translateY(-75%); */
}

#Content_1 .Picture1, #Content_2 .Picture2{
    max-width: 100%
}

#Content_1 .Evaluate{
    display: block;
    margin-top: 40px;
    width: 100%;
}
#Content_1 .Trustpilot{
    margin: 10px 0 10px 0;
}
#Content_1 .rating_statistics
{
    /* margin-top: 50px; */
    font-size: 16px;
    color: var(--sub-color_2);
}
#Content_2, #Content_6{
    background-color: transparent;
    background-image: url(/assets/img/background.svg);
    background-size: 50%;
    background-position: center;
    position: relative;
    /* background-image: url(/assets/img/background.svg); */
    background-repeat: no-repeat;
    /* background-size: contain; */
}

#Content_2 .content, #Content_6 .content{
    background: url('/assets/img/text_backgrond.png') no-repeat;
    background-size: contain;
}
#Content_2 .heading-content{
    width: 372.86px;
    height: 110.03px;
}

#Content_3 .Content_section{
    display: block;
    /* background-color: coral; */
    margin-top: 100px;
}
#Content_3 .heading-content{
   margin: auto;
   text-align: center;
   
   /* transform: translateX(-50%); */
}
#Content_3 .member-list{
    margin-top: 48px;
    /* margin-left: 80px; */
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}
#Content_3 .member-item{
    /* width: 33.33333%; */
    /* width: calc(100% / 3); */
    text-align: center;
}

#Content_3 .member-name{
    font-size: 22px;
    font-weight: 800;
}
#Content_3 .content-member-name{
    width: 300px;
    margin: auto;
    font-size: var(--text_1_font);
    color: var(--sub-color_1);
    line-height: 1.5;
}
#Content_3 .member-img{
    width: 330px;
    margin-top: 15px;
}
#Content_3 .line_colum{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    font-weight: 300;
    color: var(--sub-color_1);
    letter-spacing: 5px;
}
#Content_5{

}
#Content_5 .Picture5_1{
    width: 600px;
    height: 600px;
    margin: auto;
}
#Content_5 .Picture5_2{
    position: absolute;
    top: 0px;
    left: 0px;
}
#Content_6{

}
#Content_6 .Picture6_1{
    width: 400px;
    height: 570px;
    border-radius: 40px;
    margin: auto;
}
#Content_6 .Picture6_2{
    position: absolute;
    right: 40px;
    bottom: 60%;
    border-radius: 30px;
    width: 155px;
    height: 155px;
}
#Content .Picture6_3{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 20px;
    left: 70px;
    bottom: 120px;
}
#Slider{
    display: flex;
    width: 90%;
    /* margin: 100px; */
    margin: auto;
    margin-bottom: 150px;
    
}
#Slider .Slider_1{
    width: 50%;
    max-height: 650px;
    margin: 10px;
    

}
#Slider .Slider_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#Slider .Slider_2{
    width: 50%;
    height: 650px;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    margin: 10px;
}

#Slider .Slider_2_1{
margin-left: 50px;
}
#Slider .heading-content{
    color: #08878e;
    align-items: center;
    margin-bottom: 100px;
}
#Slider .text_color{
    color: #fff;
}
#Slider .Button{
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px; 
}
