*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Inter, sans-serif;
}
:root {
    --primary-color: #35B8BE;
    --text_1_font: 18px;
    --text_1_color: #546285;
}
.clear{
    clear: both;
}
#wrapper{
    width: 100%;
}
#Content_4{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 180px;
}
.content{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 40%;
}
.Picture
{
    width: 50%;
    position: relative;
    display: flex;
    padding-bottom: 40px;
}

.Button{
    margin-top: 50px;
    padding: 20px 35px;
    border-radius: 6px;
    background-color: var(--primary-color);
    width: 200px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    
}

.heading-content{
    max-width: 580px;
    margin-bottom: 30px;
    color: #08090a;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 700;
    
}
.text_color{
    color: var(--primary-color);
}
.main-content{
    margin-bottom: 80px;
    color: var(--text_1_color);
    font-size: var(--text_1_font);
    line-height: 1.34;
    font-weight: 400;
    width: 560px;
}


.products .options {
    display: flex;
    justify-content: center;
}

.products .options>a{
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 148px;
    background-color: #f5fbfc;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin: 32px 16px;
    border: 1px solid #f8f2f2;
}
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;   
}
.product-item {
    font-family: sans-serif;
    height: 200px;
    width: 577px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    margin: 16px auto;
}
.product-item:hover{
    font-family: sans-serif;
    height: 200px;
    width: 577px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin: 16px auto;
}
.product-item img {
    padding-right: 24px;
}
.product-item .title {
    font-size: 20px;
    margin: 10px 0;
}
.product-item .sub-title {
    font-size: 16px;
    color: var(--text_1_color)
}
