*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Inter, sans-serif;
}
:root {
    --primary-color: #35B8BE;
    --sub-color_1: #546285;
    --sub-color_2: #08090A;

    --text_1_font: 18px;
    --text_2_font: 55px;

    --button-radius: 6px;
}
@media (max-width: 992px){
    /* .content, .h1_text, .text_content, .Picture, .Button{
        width: 100%;
        margin: auto;
    } */
    .Content_section, .Picture{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .Button{
        margin: auto;
    }
    .Picture{
        margin-top: 20px;
    }
    .col-md-6{
        width: 100%;
        text-align: center;
    }
    #Slider{
        display: inline-block;
        margin: auto;
    }
    
}
.banner {
    width: 100%;
    height: 411px;
    background-color: #f5fbfc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}
.banner .header {
    font-size: 60px;
    font-family: sans-serif;
}

.h1_text{
    width: 100%;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 700;
    margin-bottom: 30px;
}
.text_color{
    color: var(--primary-color);
}

#wrapper{
    width: 100%;
}

.Content_section{
    display: flex;
    align-items: center;
   
    width: 100%;
    max-width: 1200px;
    margin: auto;


}
#Content_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
#Content_4 .Content_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Content_4 .products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Content_4 .header{
    width: 490px;
    text-align: center;
}

#Content_4 .header .title{
    font-size: 55px;
    color: var(--primary-color);
    margin: 24px 0;
}
#Content_4 .header .sub-title{
    font-size: 18px;
    color:#747e97;
    line-height: 28px;
}

.content{
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.Picture
{
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.Button{
    margin-top: 50px;
    padding: 20px 35px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
    text-align: center;
    width: 40%;
    min-width: 190px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
.Button:hover{
    color: #fff;
}

.text_content{
    color: var(--sub-color_1);
    font-size: var(--text_1_font);
    line-height: 1.34;
    font-weight: 400;
    width: 100%;
}


.products-container .options {
    display: flex;
    justify-content: center;
}

.products-container .options>{
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 148px;
    background-color: #f5fbfc;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin: 32px 16px;
    border: 1px solid #f8f2f2;
}
.options .btn-order {
    background-color: #fff;
    color: #08090A;
    border: 1px solid #ccc;
    width: 128px;
    height: 48px;
    border-radius: 5%;
    background-color: #f5fbfc;
    font-size: 16px;
    margin: 0 24px;
}
.options .btn-order.active {
    background-color: #35B8BE;
    color: #fff;
}

.product-list {
    width: 100%;
}

.product-item {
    font-family: sans-serif;
    height: 200px;
    width: 577px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    margin: 16px auto;
}
.product-item:hover{
    border: 1px solid var(--primary-color);
}
.product-item img {
    padding-right: 24px;
}
.product-item .title {
    font-size: 20px;
    margin: 10px 0;
}
.product-item .sub-title {
    font-size: 16px;
    color: var(--sub-color_1)
} 
