*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Inter, sans-serif;
}
:root {
    --primary-color: #35B8BE;
    --text_1_font: 18px;
    --text_1_color: #546285;
}

.clear{
    clear: both;
}
#wrapper{
    width: 100%;
}

#Content{
    background-image: url(/assets/img/Wrapper_Background.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 1000px;
}
#Content_1, #Content_2, #Content_3, #Content_4, #Content_5, #Content_6{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 180px;
}
#Content_1{
    /* background-color: antiquewhite; */
    padding-top: 100px;
}
.content{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 40%;
}
.Picture
{
    width: 50%;
    position: relative;
    display: flex;
    padding-bottom: 40px;
}
.Picture1_1{
    margin: auto;
    width: 416px;
    height: 535px;
    border-radius: 100px 10px 10px 10px;
}
.Picture1_2{
    position: absolute;
    width: 210px;
    height: 210px;
    right: 40px;
    bottom: 0px;
}
.Picture1_2_1{
    border-radius: 100px;
}
.Picture1_2_2{
    position: absolute;
    width: 70px;
    height: 70px;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #fff;
    padding: 17px;
    margin-right: 30px;
    margin-top: 30px;
    /* padding: 20px; */
}
.Picture1_2_3{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 17px;
    margin-top: 20px;
    right: 2px;
}
.Picture1_3{
    position: absolute;
    left: 50px;
    bottom: 0px;
    transform: scaleX(-1);
    width: 130px;
    /* margin-right: 100px; */
}
.Picture2_1{
    margin-left: 100px;
    width: 360px;
    height: 610px;
    border-radius: 40px;
    right: 50%;
}
.Picture2_2
{
    position: absolute;
    width: 150px;
    height: 160px;
    border-radius: 25px;
    right: 120px;
    top: 50%;
    transform: translateY(-25%);
}
.Picture2_3
{
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 20%;
    /* transform: translateY(-75%); */
}
.heading-content{
    max-width: 580px;
    margin-bottom: 30px;
    color: #08090a;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 700;
    
}
.text_color{
    color: var(--primary-color);
}
.main-content{
    margin-bottom: 80px;
    color: var(--text_1_color);
    font-size: var(--text_1_font);
    line-height: 1.34;
    font-weight: 400;
    width: 560px;
}
#Content_1 .Picture1, #Content_2 .Picture2{
    max-width: 100%
}
.Button{
    margin-top: 50px;
    padding: 20px 35px;
    border-radius: 6px;
    background-color: var(--primary-color);
    width: 200px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    
}
#Content_1 .Evaluate{
    display: block;
    margin-top: 40px;
    width: 100%;
}
#Content_1 .Trustpilot{
    margin: 10px 0 10px 0;
}
#Content_1 .rating_statistics
{
    /* margin-top: 50px; */
    font-size: 16px;
    color: #08090a;
}
#Content_2, #Content_6{
    margin-top: 100px;
    background-color: rgb(240, 250, 250);
    background-size: 42%;
    background-position: 20% 50%;
    /* background-image: url(/assets/img/background.svg); */
    background-image: url(/assets/img/text_backgrond.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}
#Content_2 .heading-content{
    width: 372.86px;
    height: 110.03px;
}

#Content_3{
    display: block;
    /* background-color: coral; */
    margin-top: 100px;
}
#Content_3 .heading-content{
   margin: auto;
   text-align: center;
   
   /* transform: translateX(-50%); */
}
#Content_3 .member-list{
    margin-top: 48px;
    /* margin-left: 80px; */
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}
#Content_3 .member-item{
    /* width: 33.33333%; */
    /* width: calc(100% / 3); */
    text-align: center;
}

#Content_3 .member-name{
    font-size: 22px;
    font-weight: 800;
}
#Content_3 .content-member-name{
    width: 300px;
    margin: auto;
    font-size: var(--text_1_font);
    color: var(--text_1_color);
    line-height: 1.5;
}
#Content_3 .member-img{
    width: 330px;
    margin-top: 15px;
}
#Content_3 .line_colum{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    font-weight: 300;
    color: #6d7680;
    letter-spacing: 5px;
}
#Content_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Content_4 .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Content_4 .header{
    width: 490px;
    text-align: center;
}
.products .options {
    display: flex;
    justify-content: center;
}
#Content_4 .header .title{
    font-size: 55px;
    color: #35b8be;
    margin: 24px 0;
}
#Content_4 .header .sub-title{
    font-size: 18px;
    color:#747e97;
    line-height: 28px;
}
.products .options>a{
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 148px;
    background-color: #f5fbfc;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin: 32px 16px;
    border: 1px solid #f8f2f2;
}
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;   
}
.product-item {
    font-family: sans-serif;
    height: 200px;
    width: 577px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    margin: 16px auto;
}
.product-item:hover{
    font-family: sans-serif;
    height: 200px;
    width: 577px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin: 16px auto;
}
.product-item img {
    padding-right: 24px;
}
.product-item .title {
    font-size: 20px;
    margin: 10px 0;
}
.product-item .sub-title {
    font-size: 16px;
    color: var(--text_1_color)
}
#Content_5{

}
#Content_5 .Picture5_1{
    width: 600px;
    height: 600px;
    margin: auto;
}
#Content_5 .Picture5_2{
    position: absolute;
    top: 0px;
    left: 0px;
}
#Content_6{

}
#Content_6 .Picture6_1{
    width: 400px;
    height: 570px;
    border-radius: 40px;
    margin: auto;
}
#Content_6 .Picture6_2{
    position: absolute;
    right: 40px;
    bottom: 60%;
    border-radius: 30px;
    width: 155px;
    height: 155px;
}
#Content .Picture6_3{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 20px;
    left: 70px;
    bottom: 120px;
}
#Slider{
    display: flex;
    width: 90%;
    /* margin: 100px; */
    margin: auto;
    margin-bottom: 150px;
    
}
#Slider .Slider_1{
    width: 50%;
    max-height: 650px;
    margin: 10px;
    

}
#Slider .Slider_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#Slider .Slider_2{
    width: 50%;
    height: 650px;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    margin: 10px;
}

#Slider .Slider_2_1{
margin-left: 50px;
}
#Slider .heading-content{
    color: #08878e;
    align-items: center;
    margin-bottom: 100px;
}
#Slider .text_color{
    color: #fff;
}
#Slider .Button{
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px; 
}
